<h1>Eat Dat Burger!</h1>

<h2>Burgers Ready-to-Eat</h2>
<ul>
    {{#each burger}}
        {{#unless devoured}}
            <li>
                {{this.id}}.
                {{this.burger_name}}
                <button data-id="{{id}}" type="submit" class='devour'>EAT IT! </button>
            </li>
            
        {{/unless}}
    {{/each}}
</ul>

<h2>Burgers Eaten</h2>
<ul>
    {{#each burger}}
        {{#if devoured}}
            <li>
                {{this.id}}.
                {{this.burger_name}}
            </li>
        {{/if}}
    {{/each}}
</ul>

<form class="create-form">
    <div class="form-group">
        <label for="ca">What Burger would you like?</label>
        <input type="text" id="newBurger" name="name">
    </div>
    <button type="submit" class='submit'>Make Burger</button>
</form>