<header>
    <h1>Eat Dat Burger!</h1>
</header>

<div class="container">
    <h2>Burgers <br> Ready-to-Eat</h2>
    <ul class="rdy" type='none'>
        {{#each burger}}
            {{#unless devoured}}
                <li>
                    {{this.id}}.
                    {{this.burger_name}}
                    <hr>
                </li>
                <img src="./assets/img/burger-eat-me.png" class='devour' data-id="{{id}}">
            {{/unless}}
        {{/each}}
    </ul>
</div>

<div class="container">
   <form class="create-form">
        <div class="form-group">
            <label for="ca"><strong> What Burger would you like to order?</strong></label><br><br>
            <input type="text" id="newBurger" name="name">
        </div>
        <button type="submit" class='submit'>Order Burger</button>
    </form> 
    <div class="main"></div>
</div>

<div class="container">
   <h2 class="right">Burgers <br>Eaten</h2>
    <ul class="ate" type='none'>
        {{#each burger}}
            {{#if devoured}}
                <li class="devoured">
                    {{this.id}}.
                    {{this.burger_name}}
                    <hr>
                </li>
            {{/if}}
        {{/each}}
    </ul> 
</div>
 <footer>&copy; 2018 RICH SCHIFFER</footer>  


